@import "tailwindcss";

@font-face {
    font-family: "MyFont";
    src: url("../../Fonts/Inter-VariableFont_opsz\,wght.ttf") format("woff2");
}

@theme {
    --font-myfont: "MyFont", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));



/* npx @tailwindcss/cli -i ./src/CSS/input.css -o ./src/CSS/output.css --watch */